doctype html
html(lang='en', ng-app='ideaValidator')
	head
		title Idea Validator
	body
		h1 {{5 + 6}}

		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')

		// inject:js 
		// endinject 