doctype html
html(lang='en', ng-app)
	head
		title Where developers validate their ideas
		meta(name='keywords', content='idea validation, ideas, idea, validator, validation')
		meta(name='description', content='A place for developers to validate their ideas so that they know what to work on next')
		meta(name='author', content='Brooks Patton')
			
	body
		h1 {{5 + 6}}

		// inject:js 
		// endinject 