doctype html
html(lang='en', ng-app='ideaValidator')
	head
		title Where developers validate their ideas
		meta(name='keywords', content='idea validation, ideas, idea, validator, validation')
		meta(name='description', content='A place for developers to validate their ideas so that they know what to work on next')
		meta(name='author', content='Brooks Patton')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		// inject:css 
		// endinject 
			
	body
		div(ng-view)

		// inject:js 
		// endinject 

		script.
			console.log(hello from leanne)