nav.navbar.navbar-default
	.container-fluid
		.navbar-header
			button(type='button', data-toggle='collapse', data-target='#top-menu-navbar-collapse-1', aria-expanded='false').navbar-toggle.collapsed
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href='#').navbar-brand Idea Validator

		.collapse.navbar-collapse#top-menu-navbar-collapse-1
			form(role='login buttons', ng-if='user === null').navbar-form.navbar-right
				button(ng-click='login()').btn.btn-success Login
				| 
				button(ng-click='createAccount()').btn.btn-success Create Account