nav.navbar.navbar-default
	.container-fluid
		.navbar-header
			button(type='button', data-toggle='collapse', data-target='#top-menu-navbar-collapse-1', aria-expanded='false').navbar-toggle.collapsed
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href='#').navbar-brand Idea Validator